#truco{
  opacity: 0;
}

#mensajeEnviado {
  display: none;
  color: green;
  margin-top: 10px;
}

/* Estilo del h1 */
.titulo_contactanos {
    font-size: 35px;
    color: #2a3952;
    text-align: left;
    margin-left: 55px;
    font-weight: bold;
  }
  
  /* Icono de teléfono */
  .icono_telefono_contactanos {
    font-size: 35px;
    color: #2a3952;
    margin-right: 60px;
    font-weight: bold;
    display: flex;
    align-items: center;
    justify-content: flex-end;
    margin-top: -100px;
  }
  
  /* Textos del contenido o main */
  .texto_principal {
    font-size: 20px;
    margin-top: -20px;
    color: #2a3952;
    margin-left: 55px;
  }
  
  .texto_secundario {
    font-weight: bold;
    font-size: 25px;
    margin-left: 55px;
  }
  
  /*  Estilo para Redes sociales */
  .redes_sociales {
    display: flex;
    margin-top: 20px;
    margin-left: 55px;
  }
  
  .redes_sociales .enlace {
    display: inline-block;
    margin-right: 10px;
    font-size: 20px;
  }
  
  /* Estilos para pantallas pequeñas (menor a 768px) */
  @media (max-width: 768px) {
    .titulo_contactanos {
      font-size: 28px;
      margin-left: 20px;
    }
  
    .icono_telefono_contactanos {
      font-size: 28px;
      margin-right: 30px;
      margin-top: -50px;
    }
  
    .texto_principal {
      font-size: 18px;
      margin-top: -10px;
      margin-left: 20px;
    }
  
    .texto_secundario {
      font-size: 22px;
      margin-left: 20px;
    }
  
    .redes_sociales {
      flex-direction: column;
    }
  
    .redes_sociales .enlace {
      margin-right: 0;
      margin-bottom: 10px;
    }
  }
  

/* Estilos generales para la sección de redes sociales */
.redes_contactanos {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    bottom: 175px;
    right: 600px;
    padding: 0px;
  }
  
  .redes_contactanos i {
    width: 100px;
    height: 100px;
    margin-right: 10px;
    margin-bottom: -50px;
    font-size: 35px;
    color: #2a3952;
  }
  
  .icono {
    margin-right: -1050px;
  }
  
  .icono i {
    font-size: 24px;
    color: #2a3952;
  }
  
  /* Diseño responsivo para pantallas pequeñas (menor a 768px) */
  @media (max-width: 768px) {
    .redes_contactanos {
      flex-direction: row;
      justify-content: space-between;
      align-items: flex-start;
      bottom: 20px;
      right: 20px;
    }
  
    .redes_contactanos i {
      width: 50px;
      height: 50px;
      margin-right: 5px;
      margin-bottom: 10px; /* Aumentado a 10px para bajar los íconos */
      font-size: 20px;
    }
  }
  
    
/* Estilos generales para la sección de contacto */
.contactanos {
    max-width: 100%; /* Limitar el ancho a 100% del contenedor */
    margin: 0 auto; /* Centrar horizontalmente */
    padding: 20px; /* Añadir espacio alrededor del contenido */
  }
  
  /* Tabla de contacto */
  .tabla_contacto {
    width: 40%; /* Ajustar el ancho de la tabla */
    height: 200px; /* Ajustar la altura de la tabla */
    border: 30px solid #d8d9d8; /* Grosor y color del borde */
    margin: -225px 0 0 55%; /* Ajustar los márgenes para posicionar la tabla */
    gap: 5px;
    background-color: #d8d9d8;
    border-radius: 15px; /* Hacer las esquinas de la tabla redondeadas */
    margin-bottom: 200px;
  }
  
  .tabla_contacto input,
  .tabla_contacto textarea {
    width: 100%; /* Ancho completo de los inputs y textarea */
    padding: 8px; /* Añadir espacio dentro de los inputs y textarea */
    margin-bottom: 8px; /* Añadir espacio debajo de los inputs y textarea */
    border: 1px solid gray; /* Borde gris claro */
    font-size: 25px; /* Ajustar el tamaño de la fuente */
    color: #2a3952;
    font-weight: bold;
    background-color: #e9e4dc;
  }
  
  .tabla_contacto textarea {
    height: 80px; /* Ajustar la altura del textarea */
  }
  
  .button-container {
    text-align: center; /* Centrar el botón */
  }
  
  .button-container button {
    padding: 10px 20px; /* Aumentar el padding del botón */
    font-size: 16px; /* Aumentar el tamaño de la fuente del texto del botón */
    border-radius: 5px; /* Añadir bordes redondeados al botón */
    border: 2px solid gray; /* Añadir un borde sólido verde al botón */
    cursor: pointer; /* Esta propiedad cambia el cursor a mano */
  }
  
  /* Estilos para pantallas pequeñas (menor a 768px) */
  @media (max-width: 1199px) {
    .tabla_contacto {
      width: 95%; /* Ajustar el ancho de la tabla en pantallas pequeñas */
      margin: 10px auto; /* Ajustar el margen en pantallas pequeñas */
    }
    .icono_telefono_contactanos{
      margin-left: 20px; /* Asegúrate de que no haya margen a la izquierda */
    float: left; /* Hace que el elemento se alinee a la izquierda */
    }
p{
  margin-left: 0; /* Asegúrate de que no haya margen a la izquierda */
    float: left; /* Hace que el elemento se alinee a la izquierda */
}

  }
  
  
  
  

body{
    margin: 0;
    padding: 0;
    overflow-y: scroll; /* Habilita el scroll vertical */
    background-image: url('../img/fondocontactanos.png');
    background-repeat: no-repeat;
    background-position: center center;
    background-size: cover;
    background-attachment: scroll !important; /* Cambia la posición de la imagen al desplazarse */
}