/* Estilo de la estructura en general del body */
body,
html {
  height: 100%;
  margin: 0;
  padding: 0;
  overflow: hidden;
}

/* Estilo para los fondos de video */
    .fondos video {
      position: absolute;
      z-index: -5;
      top: 0;
      left: 0;
      width: 100vw;
      height: 100vh;
      object-fit: cover;
    }

 /*  Estilos para la parte de NAV, lista,links y items */
  
 .nav-list-otros {
  list-style: none; /* Elimina los puntos de la lista */
  display: flex; /* Establece los elementos de la lista como flexibles */
}

.nav-item-otros {
  margin-right: 30px; /* Espacio entre los elementos de la lista */
}

.nav-link-otros {
  text-decoration: none; /* Elimina el subrayado predeterminado de los enlaces */
  font-size: 20px; /* Ajusta el tamaño del texto */
  color: black; /* Color del texto */
}

.header-otros {
  display: flex;
  align-items: center; /* Alinea verticalmente */
  margin-top: 20px;
  margin-left: 50px;
}
.logo_principal-otros {
  margin-right: 500px; /* Espacio entre el logo y los elementos de navegación */
}
