body {
    overflow-y: scroll; /* Habilita el scroll vertical */
    font-family: "League Spartan", sans-serif; /* Aplica la fuente League Spartan a todos los elementos */
  }
  
  .container::-webkit-scrollbar {
    width: 8px; /* Tamaño del scroll en vertical */
    height: 8px; /* Tamaño del scroll en horizontal */
    display: none; /* Ocultar scroll */
  }
  
  .titulo_aviso_privacidad {
    background-color: #221d74; /* Color de fondo del título */
    color: white; /* Color del texto */
    width: 100%; /* Ancho del div al 100% del contenedor padre */
    height: 75px; /* Altura del div */
    display: flex; /* Para usar flexbox */
    align-items: center; /* Para centrar verticalmente el contenido */
    display: flex; /* Establece el display en flex */
    justify-content: center; /* Centra horizontalmente el contenido */
    font-size: 25px; /* Tamaño de fuente */
    text-align: justify; /* Alinea el texto justificado */
 
  }
  
  h2 {
    margin: 30px 30px; /* Márgenes */
  }
  
  p {
    margin: 30px 30px; /* Márgenes */
    padding: 5px; /* Relleno */
    font-size: 20px; /* Tamaño de fuente */
    line-height: 1.5; /* Aumenta el interlineado a 1.5 veces el tamaño de la fuente */
    text-align: justify;
  }
  
  .final {
    align-items: center; /* Para centrar verticalmente el contenido */
    display: flex; /* Establece el display en flex */
    justify-content: center; /* Centra horizontalmente el contenido */
    font-size: 30px;
    text-align: center;
    font-weight: bold;
  }

 
  .ejercerderechos {
    display: block;
    width: 100%; /* Ocupa todo el ancho disponible */
    background-color: #2a3952;
    color: white;
    border: none;
    padding: 15px 0; /* Ajusta el relleno vertical y elimina el relleno horizontal */
    font-size: 16px;
    cursor: pointer;
    z-index: 1000; /* Asegura que el botón esté por encima de otros elementos */
    text-align: center; /* Asegura que el texto esté centrado */
    border-radius: 8px;
}
@media (max-width: 797px) {
  .titulo_aviso_privacidad{
    text-align: center;
    font-size: 20px;
  }
}
