body{
  margin: 0;
  padding: 0;
  overflow-y: scroll; /* Habilita el scroll vertical */
  background-image: url('../img/fondocontactanos.png');
  background-repeat: no-repeat;
  background-position: center center;
  background-size: cover;
  background-attachment: scroll !important; /* Cambia la posición de la imagen al desplazarse */
}

#truco{
  opacity: 0;
}

#mensajeEnviado {
  display: none;
  color: green;
  margin-top: 10px;
}

/* Estilo del h1 */
.titulo_contactanos {
    font-size: 35px;
    color: #2a3952;
    text-align: left;
    margin-left: 55px;
    font-weight: bold;
  }
  
  /* Icono de teléfono */
  .icono_telefono_contactanos {
    font-size: 35px;
    color: #2a3952;
    margin-right: 60px;
    font-weight: bold;
    display: flex;
    align-items: center;
    justify-content: flex-end;
    margin-top: -100px;
  }
  
  /* Textos del contenido o main */
  .texto_principal {
    font-size: 20px;
    margin-top: -20px;
    color: #2a3952;
    margin-left: 55px;
  }
  
  .texto_secundario {
    font-weight: bold;
    font-size: 25px;
    margin-left: 55px;
  }

  
/* Estilos generales para la sección de redes sociales */
.redes_contactanos {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    bottom: 175px;
    right: 600px;
    padding: 0px;
   
  }
  
  .redes_contactanos i {
    width: 100px;
    height: 100px;
    margin-right: 10px;
    margin-bottom: -50px;
    font-size: 35px;
    color: #2a3952;
  }
  
  .icono {
    margin-right: -1050px;
  }
  
  .icono i {
    font-size: 24px;
    color: #2a3952;
  }
  
    
/* Estilos generales para la sección de contacto */
.contactanos {
    max-width: 100%; /* Limitar el ancho a 100% del contenedor */
    margin: 0 auto; /* Centrar horizontalmente */
    padding: 20px; /* Añadir espacio alrededor del contenido */
  }
  
  /* Tabla de contacto */
  .tabla_contacto {
    width: 40%; /* Ajustar el ancho de la tabla */
    height: 200px; /* Ajustar la altura de la tabla */
    border: 30px solid #d8d9d8; /* Grosor y color del borde */
    margin: -225px 0 0 55%; /* Ajustar los márgenes para posicionar la tabla */
    gap: 5px;
    background-color: #d8d9d8;
    border-radius: 15px; /* Hacer las esquinas de la tabla redondeadas */
    margin-bottom: 200px;
  }
  
  .tabla_contacto input,
  .tabla_contacto textarea {
    width: 100%; /* Ancho completo de los inputs y textarea */
    padding: 8px; /* Añadir espacio dentro de los inputs y textarea */
    margin-bottom: 8px; /* Añadir espacio debajo de los inputs y textarea */
    border: 1px solid gray; /* Borde gris claro */
    font-size: 25px; /* Ajustar el tamaño de la fuente */
    color: #2a3952;
    font-weight: bold;
    background-color: #e9e4dc;
  }
  
  .tabla_contacto textarea {
    height: 80px; /* Ajustar la altura del textarea */
  }
  
  .button-container {
    text-align: center; /* Centrar el botón */
  }
  
  .button-container button {
    padding: 10px 20px; /* Aumentar el padding del botón */
    font-size: 16px; /* Aumentar el tamaño de la fuente del texto del botón */
    border-radius: 5px; /* Añadir bordes redondeados al botón */
    border: 2px solid gray; /* Añadir un borde sólido verde al botón */
    cursor: pointer; /* Esta propiedad cambia el cursor a mano */
  }
  

 /* Responsive styles for screens smaller than 1200px */
@media (max-width: 1199px) {
  body{
    overflow-y: scroll !important; /* Habilita el scroll vertical */ 
    margin: 0;
    padding: 0;
    overflow-y: scroll; /* Habilita el scroll vertical */
    background-image: url('../img/BuscarEmpleoFondo.png');
    background-repeat: no-repeat;
    background-position: center center;
    background-size: cover;
    background-attachment: local !important;
  }
  .icono_telefono_contactanos {
      position: relative;
      top: 50px;
      margin-left: 60px;
      float: left;
  }

  .texto_principal {
      margin-top: 50px;
      margin-left: 60px;
      float: left;
  }

  .texto_secundario {
      margin-top: 5px;
      margin-left: 60px;
      float: left;
  }

  .redes_contactanos {
      flex-direction: row;
      transform: translateX(-50%);
      width: 100px;
      height: 100px;
      position: relative;
      top: 150px;
      right: 570px;
  }

  .tabla_contacto {
      position: relative;
      top: 50px;
      width: 95%; /* Adjust width */
      margin: 10px auto; /* Adjust margin */
  }
}

@media (max-width: 957px) {

  .redes_contactanos {
    flex-direction: row;
    transform: translateX(-50%);
    width: 100px;
    height: 100px;
    position: relative;
    top: 80px;
    left: -200px;
}
}

/* Estilos para pantallas menores o iguales a 650px */
@media (max-width: 650px) {

  .redes_contactanos {
      flex-direction: row; /* Mantiene los iconos en una fila */
      justify-content: center; /* Centra los iconos horizontalmente */
      align-items: center; /* Centra los iconos verticalmente */
      flex-wrap: wrap; /* Permite que los iconos se envuelvan si no hay suficiente espacio */
      width: 100%; /* Ajusta el ancho al 100% del contenedor */
      height: auto; /* Ajusta la altura automáticamente */
      position: relative;
      top: 20px; /* Ajusta la posición vertical si es necesario */
      left: 200px; /* Ajusta la posición horizontal si es necesario */
  }

  .redes_contactanos a {
      display: inline-flex; /* Asegura que los enlaces se comporten correctamente en línea */
      margin: 5px; /* Añade margen entre los iconos */
      text-decoration: none; /* Elimina el subrayado del enlace */
  }

  .redes_contactanos i {
      width: 10vw; /* Ajusta el tamaño relativo al viewport */
      height: 10vw; /* Ajusta el tamaño relativo al viewport */
      max-width: 50px; /* Tamaño máximo del icono */
      max-height: 50px; /* Tamaño máximo del icono */
      font-size: 25px; /* Ajusta el tamaño de fuente */
      color: #2a3952; /* Color de los iconos */
  }
}


@media (max-width: 380px) {
  .telefono {
    white-space: nowrap; /* Mantiene el texto en una sola línea */
}

}
  
  
  
  
  

