/*
 - - - - - - - - INICIO STYLE PÁGINA QUIENES SOMOS - - - - - - - - 
*/
body,
html {
  height: 100%;
  margin: 0;
  padding: 0;
  overflow: hidden;
}

/* Estilo para el fondo */

.fondo-quienes-somos img {
    position: absolute;
    z-index: -5;
    top: 0;
    left: 0;
    width: 100vw;
    height: 100vh;
    object-fit: cover;
}

/* Estilos para la animación y los elementos */

.contenedor2 {
    min-height: 80vh;
    display: flex;
    flex-direction: column;
    justify-content: center;
    margin: 0 50px;
}

.controls {
    position: absolute;
    top: 350px;
    transform: translateY(-50%);
    left: 570px;
    display: flex;
    flex-direction: column;
    align-items: center;
}

.icon-up,
.icon-down {
    font-size: 24px;
    color: #2A3952;
    cursor: pointer;
}

.up {
    margin-bottom: 40px;    
}

.down {
    margin-top: 40px;
}

.slider {
    position: fixed;
    width: 500px;
    height: 600px;
    overflow: hidden;
    top: 0;
}

.item {
    top: 33vh;
    background: rgba(255, 255, 255, 1);
    border-radius: 25px;
    text-align: justify;
    position: absolute;
    display: grid;
    padding: 20px;
    opacity: 0.4;
    transform: translateY(90%) scale(0.7);
    transition: opacity 0.5s, transform 0.5s;
}

.item.active {
    opacity: 1;
    transform: translateY(0%) scale(1);
}

.item.blur {
    filter: blur(2px);
    transform: translateY(-50%) scale(0.6);
}

.item:last-child {
    z-index: -1;    
}

.slider .item .titulos {
    display: flex;
}

.item .content {
    display: flex;
    align-items: center;
}

#title-icons {
    height: 40px;
    width: 40px;
}

.titulos h2 {
    font-weight: 600;
    color: #2A3952;
    text-shadow: 1px 1px 3px #2A3952;
    text-align: right;
    vertical-align: middle;
}

.titulos h2 img {
    display: inline-block;
    vertical-align: middle;
}

@media (max-width: 768px) {
    .slider .item {
        font-size: 12px;
        background: rgba(255, 255, 255, 1);
        width: 300px;
    }
}