/** Globales **/
:root{
    /*Defino colores a utilizar en el proyecto*/
    --selectedItemInicio: #fff;
    --selectedItemRest: #F3EDE4;
    --selectedItemAnchor: #000;
    --selectedUneteInicio: rgba(255,255,255,.4);
    --selectedUneteRest: rgba(42, 57, 82, .4);
}

 * {
    font-family: "League Spartan", sans-serif;
}

/*  Estilos para la parte de NAV, lista,links y items */
.navegacion {
    display: flex; /* Establece los elementos de la lista como flexibles */
    flex-flow: nowrap;
    padding: 1rem 0rem;   
    position: fixed; 
    right: 100px
}

.navegacion ul li{
    margin-left: 3px; 
    display: inline-block;
    text-wrap: nowrap;
    list-style: none; /* Elimina los puntos de la lista */
}

.nav-enlace {
    text-decoration: none;
    font-size: 20px; /* Ajusta el tamaño del texto */
    color: white; /* Color del texto */
    padding: 5px 15px;
}

.nav-enlace--activo{
    text-decoration: none;
    font-size: 20px; /* Ajusta el tamaño del texto */
    color: white; /* Color del texto */
    padding: 10px 20px;
    background-color: var(--selectedUneteInicio);
    border-radius: 15px;

}

/*Puntero por Mano al pasar sobre un elemento*/
.nav-enlace:hover {
    cursor: pointer;
    background-color: var(--selectedItemInicio);
    padding: 10px 15px;
    border-radius: 15px;
    color: var(--selectedItemAnchor);
    transition: 0.2s ease-out;
}

.header {
    display: flex;
    align-items: center; /* Alinea verticalmente */
    margin-top: 20px;
    margin-left: 50px;
}

.logo_principal {
    margin-right: 500px; /* Espacio entre el logo y los elementos de navegación */
}

/* Estilo para la p, texto, del inicio */
.texto_inicio{
    color: white;
    position: relative;
    padding: 50px 0px 20px 70px;
    width: 45%;
    font-size: 45px;
}

/* Estilo para los botones de acceso a socio y buscar empleo */
.botones_inicio .acceso_socios{
    margin: 20px 80px;
    color: var(--selectedItemAnchor);
    font-size: 20px;
    padding: 10px;
    border-radius: 15px;
    background-color: var(--selectedItemInicio);
    text-decoration: none; /* Quita el subrayado del texto */
    margin-right: 5px;
}

.botones_inicio .buscar_empleo_boton{
    margin: 80px;
    color: var(--selectedItemInicio);
    font-size: 20px;
    padding: 10px 15px;
    border-radius: 15px;
    background-color: var(--selectedUneteInicio);
    text-decoration: none; /* Quita el subrayado del texto */
    margin-right: 5px;
}

.icono_chat{
    display: flex;
    flex-direction: row;
    justify-content: center;
    position: absolute;
    bottom: 10px;
    left: 15px;
}

.icono_chat i{
    font-size: 50px;
    width: 50px;
    height: 50px;
    color:white;
}

.redes_inicio {
    display: flex; /* Usar flexbox */
    flex-direction: column; /* Cambiar la dirección del eje principal a vertical */
    justify-content: center; /* Centrar horizontalmente los elementos */
    align-items: center; /* Centrar verticalmente los elementos */
    position: absolute; /* Establecer posición fija */
    bottom: 10px; 
    right: 10px;
}

.redes_inicio i {
    width: 50px;
    height: 50px;
    justify-content: left;
    margin-bottom: 5px; /* Espacio vertical entre los iconos */
    font-size: 35px; /* Tamaño de los iconos */
    color: white; /* Cambiar el color de los iconos a azul */
}

.principal{
        position: relative;
        left: 55px;
        width: 92vw;
        height: 75vh;
        border: 2px solid white;    
}