 /*  Estilos para la parte de NAV, lista,links y items */
  
  .nav-list {
    list-style: none; /* Elimina los puntos de la lista */
    display: flex; /* Establece los elementos de la lista como flexibles */

}

.nav-item {
    margin-right: 30px; /* Espacio entre los elementos de la lista */
}

.nav-link {
    text-decoration: none; /* Elimina el subrayado predeterminado de los enlaces */
    font-size: 20px; /* Ajusta el tamaño del texto */
    color: white; /* Color del texto */
}

.header {
    display: flex;
    align-items: center; /* Alinea verticalmente */
    margin-top: 20px;
    margin-left: 50px;
}
.logo_principal {
    margin-right: 500px; /* Espacio entre el logo y los elementos de navegación */
}
/* Estilo para boton  inicio */
.semicirculo {
    background-color: #c2bdb4;
    padding: 5px 10px; /* Espaciado interno */
    border-radius: 50px; /* Forma de óvalo */
    transform: translateY(-50%);
}

/* Estilo pata la p, texto, del inicio */
.texto_inicio{
    color: white;
    position: relative;
    padding: 55px 0px 50px 70px;
    width: 45%;
    font-size: 30px;
}

/* Estilo para los botones de acceso a socio y buscar empleo */
.botones_inicio a{
    margin: 80px;
    color: rgb(0, 0, 0);
    font-size: 20px;
    padding: 10px;
    border-radius: 100px;
    background-color: #c2bdb4;
    text-decoration: none; /* Quita el subrayado del texto */
    margin-right: 5px;
}

.icono_chat i{
    font-size: 40px; /* Cambiar el tamaño del icono a 24px */
    margin-top: 90px;
    margin-left: 70px;
    color:white;
}

.redes_inicio {
    display: flex; /* Usar flexbox */
    flex-direction: column; /* Cambiar la dirección del eje principal a vertical */
    justify-content: center; /* Centrar horizontalmente los elementos */
    align-items: center; /* Centrar verticalmente los elementos */
    position: fixed; /* Establecer posición fija */
    bottom: 100px; /* Espacio desde la parte inferior */
    right: 100px; /* Espacio desde la parte derecha */
   /*  background-color: black; */
}

.redes_inicio i {
    width: 100px;
    height: 100px;
    margin-right: 10px; /* Ajustar el espacio entre el icono y el número */
    margin-bottom: -50px; /* Espacio vertical entre los iconos */
    font-size: 35px; /* Tamaño de los iconos */
    color: white; /* Cambiar el color de los iconos a azul */
}

.principal{
        position: relative;
        left: 55px;
        width: 92vw;
        height: 80vh;
        border: 2px solid white;
    
}