/* Muestra en que pagina esta */
.semicirculo_contactanos {
    background-color: #c2bdb4;
    padding: 5px 10px; /* Espaciado interno */
    border-radius: 50px; /* Forma de óvalo */
    transform: translateY(-50%);
}
/* Estilo titulos */
.titulos h1{
    font-size: 40px;
    color: #2a3952; 
    font-weight: bold; /* Hace que el texto esté en negrita */
    margin-left: 55px;
}

.titulos h2{
    font-size: 20px;
    color: #2a3952; 
    font-weight: bold; /* Hace que el texto esté en negrita */
    margin-left: 55px;
}
/* Estilo texto principal y caja */
.texto_principal {
    margin-left: 55px;
    padding: auto;
 
}

.Caja1 {
    
    background-color: #dedfde; /* Fondo gris */
    margin-top: -270px; /* Margen inferior */    
    position: flex; /* Hacer que el boton sea fija */
    margin-left:800px;
    margin-right: 100px;
}
.Caja1 p {
    color: #000; /* Color oscuro */
    font-size: 19px; /* Tamaño de fuente un poco más grande */
    line-height: 1.6; /* Altura de línea para mejorar la legibilidad */
    text-align: justify; /* Justificar el texto */
    
}

/* Estilo para el fondo */
.fondobuscartrabajo{ 
position: fixed; /* Fijar el fondo en una posición fija */
top: 0;
left: 0;
width: 100%; /* Ajustar el ancho al 100% */
height: 100%; /* Ajustar la altura al 100% */
z-index: -1; /* Colocar el fondo detrás de otros elementos */

}

/* Estilo boton aplicar ahora */
.buscarempleo-boton a {
    border: 2px solid #000; /* Color del borde y grosor */
    padding: 10px 20px; /* Espaciado interno del botón */
    text-decoration: none; /* Quita el subrayado del enlace */
    color: #000; /* Color del texto */
    font-weight: bold; /* Texto en negrita */
    display: inline-block; /* Permite aplicar dimensiones y alineación */
    border-radius: 20px; /* Radio de 20px para esquinas redondeadas */
    margin-left: 300px;
    background-color: #6e7788;
}

.buscarempleo-boton a:hover {
    background-color: #000; /* Cambia el color de fondo al pasar el mouse */
    color: #fff; /* Cambia el color del texto al pasar el mouse */
}
/* Imagen de solicitud de empleo */
.imagenaplicar img{
   
        width: 270px; /* Ajusta el ancho de la imagen según sea necesario */
        height: auto; /* Mantener la relación de aspecto */
        margin-top: 80px; /* Ajusta este valor para el espacio deseado desde arriba */
        margin-bottom: 20px; /* Ajusta este valor para el espacio deseado desde abajo */
        margin-left: 250px; /* Ajusta este valor para mover el botón hacia la derecha */
      /*  background-color: #d7dadc; */
       

}
