/*
 - - - - - - - - INICIO STYLE PÁGINA SERVICIOS - - - - - - - - 
*/
:root{
    --blueText: rgb(42, 57, 82);
}

* {
    font-family: "League Spartan", sans-serif;
}
body{
    overflow-y: scroll !important; /* Habilita el scroll vertical */ 
}



body,
html {
  height: 100%;
  margin: 0;
  padding: 0;
  overflow: hidden;
}

/* Estilo para el fondo */
.fondo-servicios img {
    position: absolute;
    z-index: -5;
    top: 0;
    left: 0;
    width: 100vw;
    height: 100vh;
    object-fit: cover;
}

/*Estilo para título*/
.contenedor h2{
    font-size: 4rem;
    color: var(--blueText);
    position: relative;
    left: 1.875rem;
}

/*Estilos Carousel*/
.contenido { 
    position: relative;   
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    width: 100vw;
    height: 70vh;
}

.slider{
    position: absolute;
    width: 100vw;
    height: 25%;
    box-sizing: border-box;
    margin-bottom: 10.5rem;
}

.item{
    position: absolute;
    width: 14.375rem;
    height: 5.625rem;
    background-color: #DFDFDF;
    border-radius: 0.625rem;
    padding: 1.25rem;
    transition: 0.5s;
    right: 18.75rem; 
    text-align: center;
}

.item.active {
    opacity: 1;
    animation: slide 8s infinite;
}

@keyframes slide {
    0% { transform: translateX(100%); }
    25% { transform: translateX(0); }
    50% { transform: translateX(0); }
    75% { transform: translateX(-100%); }
    100% { transform: translateX(0); }
}

.icon-go {
    position: absolute;
    right: 1.875rem;
    bottom: 0.625rem;
    font-size: 1.5rem;
    color: #595B62;
}

.icon-go:hover {
    color:#2A3952;
}

.controls{
    display: flex;
    flex-direction: row-reverse;
    justify-content: space-evenly;
    margin-top: 2rem;
}

#next, #prev{
    color: #2A3952;
    background-color: transparent;
    border: none;
    font-size: 4.5rem;
    font-family: monospace;
    font-weight: bold;
}

#prev{
    position: relative;
    left: 18rem;
}

#next{
    position: relative;
    left: 23rem;
}

#next, #prev:hover{
    cursor: pointer;
}

