.fondoseguimiento video {
    position: absolute; /* Establece la posición del elemento de video de forma absoluta con respecto a su contenedor primario */
    top: 0; /* Coloca el video en la parte superior del contenedor primario */
    left: 0; /* Coloca el video en el lado izquierdo del contenedor primario */
    width: 100%; /* Hace que el video ocupe el 100% del ancho de su contenedor primario */
    height: 100%; /* Hace que el video ocupe el 100% del alto de su contenedor primario */
    z-index: -1; /* Establece la "profundidad" del video, colocándolo detrás de otros elementos en la página */
    object-fit: cover; /* Ajusta el tamaño del video para cubrir completamente el contenedor sin distorsionar su relación de aspecto */
}

h1 {
    color: white; /* Establece el color del texto del h1 en blanco */
    text-align: right; /* Alinea el texto del h1 hacia la derecha dentro de su contenedor */
    margin-top: 50px; /* Establece un espacio en la parte superior del h1 de 50 píxeles */
    margin-right: 160px; /* Establece un espacio en el lado derecho del h1 de 160 píxeles */
    font-size: 50px; /* Establece el tamaño del texto del h1 en 50 píxeles */
}

h2 {
    color: white; /* Establece el color del texto del h2 en blanco */
    text-align: right; /* Alinea el texto del h2 hacia la derecha dentro de su contenedor */
    margin-right: 160px; /* Establece un espacio en el lado derecho del h2 de 160 píxeles */
    font-size: 20px; /* Establece el tamaño del texto del h2 en 20 píxeles */
    margin-top: 5px; /* Establece un espacio en la parte superior del h2 de 5 píxeles */
}

p {
    color: white; /* Establece el color del texto de los párrafos en blanco */
    text-align: right; /* Alinea el texto de los párrafos hacia la derecha dentro de su contenedor */
    margin-right: 160px; /* Establece un espacio en el lado derecho de los párrafos de 160 píxeles */
    font-size: 18px; /* Establece el tamaño del texto de los párrafos en 18 píxeles */
    margin-top: 5px; /* Establece un espacio en la parte superior de los párrafos de 5 píxeles */
}


*{
    font-family: "League Spartan", sans-serif; /* Aplica la fuente League Spartan a todos los elementos */
}