/*
 - - - - - - - - INICIO STYLE PÁGINA QUIENES SOMOS - - - - - - - - 
*/
body,
html {
  height: 100%;
  margin: 0;
  padding: 0;
  overflow: hidden;
}

body{
    overflow-y: scroll !important; /* Habilita el scroll vertical */ 
    margin: 0;
    padding: 0;
    overflow-y: scroll; /* Habilita el scroll vertical */
    background-image: url('../img/BuscarEmpleoFondo.png');
    background-repeat: no-repeat;
    background-position: center center;
    background-size: cover;
    background-attachment: local !important;
}

.contenedor2{
    position: relative;
}

.container::-webkit-scrollbar {
    width: 0.5rem;     /* Tamaño del scroll en vertical */
    height: 0.5rem;    /* Tamaño del scroll en horizontal */
    display: none;  /* Ocultar scroll */
}

/* Estilo para el fondo */
.fondo-quienes-somos img {
    position: absolute;
    z-index: -5;
    top: 0;
    left: 0;
    width: 100vw;
    height: 100vh;
    object-fit: cover;
}

/* Estilos para la animación y los elementos */

.contenedor2 {
    min-height: 90vh;
    display: flex;
    flex-direction: column;
    justify-content: center;
    margin: 0 3.125rem;
}

.controls {
    display: flex;
    flex-direction: column;
    align-items: center;
    position: absolute;
    top: 25.875rem;
    left: 36.5rem;
    transform: translateY(-50%);    
}

.icon-up,
.icon-down {
    font-size: 1.5rem;
    color: #2A3952;
    cursor: pointer;
}

.up {
    margin-bottom: 2.5rem;    
}

.down {
    margin-top: 2.5rem;
}

.slider {
    position: relative !important;
    display: flex;
    flex-direction: column;
    width: 31.25rem;
    height: 38rem;
    margin: 1rem 4rem;
    overflow: hidden;    
   
}

.item {
    display: flex;
    flex-direction: column;
    margin: 10rem 0rem;
    background: rgb(196, 193, 193);
    border-radius: 1.563rem;
    text-align: justify;
    position: absolute;
    display: grid;
    padding: 1.25rem;
    opacity: 0.4;
    transform: translateY(90%) scale(0.7);
    transition: opacity 0.5s, transform 0.5s;
    font-family: "League Spartan", sans-serif;
    font-size: 1rem;
}

.item.active {
    opacity: 1;
    transform: translateY(0%) scale(1);
}

.item.blur {
    filter: blur(2px);
    transform: translateY(-50%) scale(0.6);
}

.item:last-child {
    z-index: -1;    
}

.slider .item .titulos {
    display: flex;
}

.item .content {
    display: flex;
    align-items: center;
}

#title-icons {
    height: 2.5rem;
    width: 2.5rem;
}

.titulos h2 {
    font-weight: 600;
    color: #2A3952;
    text-shadow: 1px 1px 3px #2A3952;
    text-align: right;
    vertical-align: middle;
}

.titulos h2 img {
    display: inline-block;
    vertical-align: middle;
}


@media (max-width: 1200px) {
    .slider {
        display: block; /* Cambia la disposición del slider para mostrar en columna */
        width: auto; /* Ajusta el ancho para que se ajuste al contenido */
        height: auto; /* Ajusta la altura para que se ajuste al contenido */
        overflow: visible; /* Asegura que no haya overflow */
        position: relative; /* Ajusta la posición para evitar problemas de superposición */
    }

    .slider .item {
        display: block; /* Muestra cada ítem en bloque */
        margin: 2rem 0rem; /* Quita el margen para que los ítems se muestren en una sola columna */
        transform: none; /* Quita la transformación para que no haya animación */
        opacity: 1; /* Asegura que los ítems sean completamente visibles */
        position: relative; /* Cambia la posición para que no se sobrepongan */
        filter: none; /* Quita el desenfoque */
        transition: none; /* Desactiva la transición */
    }

    .slider .item.blur {
        filter: none; /* Asegura que el desenfoque no se aplique */
    }

    .controls{
        display: none;
    }
    .fondo-quienes-somos{
        display: none;
    }
}


