/* Este estilo es para marcar en que pagina se encuentra el usuario */    
.semicirculo_contactanos {
    background-color: #c2bdb4;
    padding: 5px 10px; /* Espaciado interno */
    border-radius: 50px; /* Forma de óvalo */
    transform: translateY(-50%);
}

/* Estilo para el fondo */
.fondoblog {
    position: fixed;
    top: 0;
    left: 0;
    width: 100vw; /* Ancho de la ventana del navegador */
    height: 100vh; /* Alto de la ventana del navegador */
    z-index: -1;
 
}

/* Estilo texto de la pagina */
.titulo_blog{
    font-size: 40px;
    color: #2a3952; 
    font-weight: bold; /* Hace que el texto esté en negrita */
    margin-left: 55px;
}

.all_psot, .dudas {
    display: inline-block; /* Mostrar los elementos en línea */
    margin-left: 55px; /* Espacio entre los elementos */
    margin-right: 20px; /* Espacio entre las opciones */
    font-size: 25px;
    margin-top: 20px;
    font-weight: bold;
    text-decoration: none; /* Elimina el subrayado de todos los enlaces dentro de .opciones */
    color: #2a3952;
    transition: opacity 0.3s ease; /* Transición suave de la opacidad */
}
.opciones a:hover {
    opacity: 0.7; /* Reducción de la opacidad al pasar el mouse */
}

/* estilo barra de busqueda */
.search-bar {
    margin-left: 1000px; /* Colocar la barra de búsqueda a la derecha */
    position: relative; /* Para posicionar el icono dentro del input */
    margin-top: -70px;
    
}

.search-bar input[type="text"] {
    width: 200px; /* Ancho del campo de búsqueda */
    height: 30px; /* Altura del campo de búsqueda */
    padding-right: 50px; /* Espacio para el botón de búsqueda */
    font-size: 16px; /* Tamaño de la fuente */
    border-radius: 20px; /* Bordes curvos */
    border: 1px solid #ccc; /* Borde */
    
}

.search-bar button[type="submit"] {
    background-color: transparent;
    border: none;
    padding: 5px;
    position: absolute;
    top: 50%;
    right: 10px;
    transform: translateY(-50%);
    background-color: transparent;
    border: none;
    padding: 5px;
}

.search-bar button[type="submit"] i {
    font-size: 18px; /* Tamaño del icono */
    color: #555; /* Color del icono de búsqueda */
    color: #555;
    margin-right:125px; /* Espacio entre el icono y el input */
}
