.fondos--consultas video {
    position: absolute;
    z-index: -5;
    top: 0;
    left: 0;
    width: 100vw;
    height: 100vh;
    object-fit: cover;
    background-size: 100px;
}

.contenido-pal{
    display: flex;
    flex-direction: column;
    align-items: flex-start;
    margin-top: 7.5rem;
    margin-left: 14rem;    
}

.contenido-pal h1{
    color: #fff;
    font-size: 4rem;
    font-weight: bold;
}

.titulo,
.texto{
    color: #fff;
    width: 35.5rem;
    text-align: justify;
    font-size: 1.5rem;
}

.contenido-consultas .texto{
    font-size: 1.275rem;
}

@media (max-width: 1200px) {
    

    .contenido-pal {
        display: flex;
        justify-content: center;
        align-items: center;
        margin: 15rem 1rem;
    }

    .contenido-pal h1 {
        font-size: 3rem;
        text-align: center;
    }

    .titulo,
    .texto {
        width: 100%;
        font-size: 1.25rem;
        text-align: center;
    }

}

