body {
    overflow-y: scroll; /* Habilita el scroll vertical */
    font-family: "League Spartan", sans-serif; /* Aplica la fuente League Spartan a todos los elementos */
  }
  
  .container::-webkit-scrollbar {
    width: 8px; /* Tamaño del scroll en vertical */
    height: 8px; /* Tamaño del scroll en horizontal */
    display: none; /* Ocultar scroll */
  }
  
  .titulo_aviso_privacidad {
    background-color: #221d74; /* Color de fondo del título */
    color: white; /* Color del texto */
    width: 100%; /* Ancho del div al 100% del contenedor padre */
    height: 75px; /* Altura del div */
    display: flex; /* Para usar flexbox */
    align-items: center; /* Para centrar verticalmente el contenido */
    display: flex; /* Establece el display en flex */
    justify-content: center; /* Centra horizontalmente el contenido */
    font-size: 25px; /* Tamaño de fuente */
    text-align: justify; /* Alinea el texto justificado */
  }
  
  h2 {
    margin: 30px 30px; /* Márgenes */
  }
  
  p {
    margin: 30px 30px; /* Márgenes */
    padding: 5px; /* Relleno */
    font-size: 20px; /* Tamaño de fuente */
    line-height: 1.5; /* Aumenta el interlineado a 1.5 veces el tamaño de la fuente */
    text-align: justify;
  }
  
  .final {
    align-items: center; /* Para centrar verticalmente el contenido */
    display: flex; /* Establece el display en flex */
    justify-content: center; /* Centra horizontalmente el contenido */
    font-size: 30px;
    text-align: center;
    font-weight: bold;
  }
  .ejercerderechos {
    margin-left: 575px; /* Espacio a la izquierda para centrar */
    margin-bottom: 30px; /* Espacio entre el botón y el final de la página */
    align-self: flex-end; /* Alineación del botón en la parte inferior del contenedor */
    background-color: #ba0e16;
    color: white;
    padding: 15px; /* Relleno */
    border: none;
    cursor: pointer; /* Esta propiedad cambia el cursor a mano */

  }
  
  /* Media Queries para Responsive Design */
  
  /* Para pantallas menores a 768px (tablets y smartphones) */
  @media (max-width: 768px) {
  
    .titulo_aviso_privacidad {
      font-size: 20px; /* Reduce el tamaño de fuente del título */
    }
  
    h2 {
      margin: 20px 10px; /* Ajusta márgenes para pantallas más pequeñas */
    }
  
    p {
      font-size: 16px; /* Reduce el tamaño de fuente para párrafos */
      margin: 15px 10px; /* Ajusta márgenes para pantallas más pequeñas */
    }
  
    .ejercerderechos {
      margin-left: auto; /* Centra el botón horizontalmente */
      margin-right: auto; /* Centra el botón horizontalmente */
      width: 80%; /* Establece el ancho del botón al 80% */
      margin-left: 50px;
    }
  }
  