*{
    font-family: "League Spartan", sans-serif;/*Cambiar el tipo de letra de todo el documento*/
    font-weight: 300;
}

body{
    overflow-y: scroll !important; /* Habilita el scroll vertical */ 
}

.container::-webkit-scrollbar {
    width: 8px;     /* Tamaño del scroll en vertical */
    height: 8px;    /* Tamaño del scroll en horizontal */
    display: none;  /* Ocultar scroll */
}

.logo_principal {
    margin-right: 450px; /* Espacio entre el logo y los elementos de navegación */
}

.piepagina {
    background-color: #2a3952;
    color: white;
    padding: 1px 0; /* Ajuste del padding para reducir el tamaño vertical */
    font-size: 15px;  /* Tamaño de fuente general */
    margin: 62px 0 0 0; /* Ajuste de margen superior para separarlo del contenido */
}

.piepagina .grupo1 {
    max-width: 1200px;
    margin: auto;
    display: grid;
    grid-template-columns: repeat(3, 1fr);
    gap: 50px;  /* Espacio entre los elementos */
}

.piepagina .grupo1 .box figure {
    display: flex;
    justify-content: center;
    align-items: center;
}

.piepagina .grupo1 .box figure img {
    width: 100px;  /* Tamaño del logo */
}

.piepagina .grupo1 .box h2 {
    font-size: 16px;  /* Tamaño del título */
    margin-bottom: 15px;
    margin-top: 30px;
    font-weight: bold;
}

.piepagina .grupo1 .box p {
    margin-bottom: 10px;
    text-align: justify;
}

.piepagina .grupo1 .redes_footer a {
    display: inline-block;
    text-decoration: none;
    width: 30px;
    height: 20px;
    margin-top: 15px;
    line-height: 45px;
    color: white;
    margin-right: 10px;
    text-align: center;
    transition: all;
    font-size: 30px;
}

.piepagina .grupo2 {
    text-align: center;
    padding: 5px 10px;
    background-color: #2a3952;
}

.piepagina .grupo2 small {
    font-size: 12px;  /* Tamaño del texto de copyright */
}

.piepagina .grupo2 a {
    color: white;
    margin-left: 10px;
    text-decoration: none;
}

/* Estilos adicionales */
.piepagina .grupo1 .redes_footer a:hover {
    color: lightgray;  /* Cambio de color al pasar el ratón */
}

@media (max-width: 1199px) {
    .piepagina .grupo1 {
        grid-template-columns: 1fr;
        gap: 2px; /* Ajuste del espacio entre los elementos en pantallas pequeñas */
        
    }

    .piepagina .grupo1 .box {
        margin: 10px 0;
        text-align: center;
    }
}