* {
    font-family: "League Spartan", sans-serif;
}

body{
  background-image:url('../img/fondoBolsaDeTr.png');
  background-repeat: no-repeat;
  background-size: cover;
  background-attachment: local;
  position: relative;

}

.contenido-bolsadetrabajo{
  display: flex;
  justify-content: flex-end;
  width: 100vw;
  height: 100vh;
}

/*Estilo slider circular o rueda de la fortuna */
/*El contenedor principal de los circulos*/
.central{
  overflow: hidden;
  width: 24vw;
  height: 100vh;
  padding-left: 40px;
  padding-top: 10px;
  margin-top: 50px;  
  }
  
  /*13.66*/
  .container {
    position: relative;
    width: 900px;
    height: 900px;
    animation: spin 30s linear infinite;    
  }
    
  .container:hover {
    /* Otros estilos */
    animation-play-state: paused; /* Detiene la animación */
  }
  
  .container:hover .circle p {
    /* Otros estilos */
    animation-play-state: paused; /* Detiene la animación */
  }  
  
  /*Define el tamaño de los circulos*/
  .circle {
    position: absolute;
    width: 150px;
    height: 150px;
    border-radius: 50%;
    background-color:#576377;
    display: flex;
    justify-content: center;
    align-items: center;
    padding: 20px;
  }
  
  .circle .texto-circle {
    color: white;
    font-size: 25px;
    text-align: center;
    margin: 0;
    animation: rotacionletras 30s linear infinite; /* Usar el nombre correcto del keyframe */
  }
  
  .circle .circle-numero{
    position: absolute;
    color: rgb(42, 57, 82);
    font-size: 9.5rem;
    text-align: center;
    animation: rotacionletras 30s linear infinite; /* Usar el nombre correcto del keyframe */
  }
  
  /*Animacion papra que las letras giren con el circulo*/
  @keyframes rotacionletras { 
    0% {
      transform: rotate(360deg);
    }
    100% {
      transform: rotate(0deg);
    }
  }
   
  
  /*Animacion para que los circulos giren como carrusel*/
  @keyframes spin {
    0% {
      transform: rotate(0deg);
  
    }
    100% {
      transform: rotate(360deg);
    }
  }
  
  /* Distribución de los círculos */
  .circle:nth-child(10) {
    top: 5%;
    left: 50%;
    transform: translate(-50%, -50%);
  }
  
  .circle:nth-child(9) {
    top: 13%;
    left: 75%;
    transform: translate(-50%, -50%);
  }
  
  .circle:nth-child(8) {
    top: 35%;
    left: 91%;
    transform: translate(-50%, -50%);
  }
  
  .circle:nth-child(7) {
    top: 60%;
    left: 91%;
    transform: translate(-50%, -50%);
  }
  
  .circle:nth-child(6) {
    top: 85%;
    left: 75%;
    transform: translate(-50%, -50%);
  }
  
  .circle:nth-child(5) {
    top: 93%;
    left: 50%;
    transform: translate(-50%, -50%);
  }
  
  .circle:nth-child(4) {
    top: 85%;
    left: 25%;
    transform: translate(-50%, -50%);
  }
  
  .circle:nth-child(3) {
    top: 60%;
    left: 9%;
    transform: translate(-50%, -50%);
  }
  
  .circle:nth-child(2) {
    top: 35%;
    left: 9%;
    transform: translate(-50%, -50%);
  }
  
  .circle:nth-child(1) {
    top: 13%;
    left: 25%;
    transform: translate(-50%, -50%);
  }
  
  .circle:nth-child(11) {
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
  }
  
  
  /*hacerlo responsivo*/
  @media (max-width:1055px){
    .central{
      height:calc(100vh - 145px) ;
      padding-top: 0px;
    }
    .circle p{
      font-size: 15px;
    }
  
    .circle{
      width: 100px;
      height: 100px;
    }
  
    .container{
      width: 700px;
      height: 700px;
    }
  }
  

