/** Globales **/
:root{
    /*Defino colores a utilizar en el proyecto*/
    --selectedItemInicio: #fff;
    --selectedItemRest: #F3EDE4;
    --selectedItemAnchor: #000;
    --selectedUneteInicio: rgba(255,255,255,.4);
    --selectedUneteRest: rgba(42, 57, 82, .4);
}

 * {
    font-family: "League Spartan", sans-serif;
}

/*  Estilos para la parte de NAV, lista,links y items */
.navegacion {
    display: flex; /* Establece los elementos de la lista como flexibles */
    flex-flow: nowrap;
    padding: 1rem 0rem;   
    position: fixed; 
    right: 100px
}

.navegacion ul li{
    margin-left: 3px; 
    display: inline-block;
    text-wrap: nowrap;
    list-style: none; /* Elimina los puntos de la lista */
}

.nav-enlace {
    text-decoration: none;
    font-size: 20px; /* Ajusta el tamaño del texto */
    color: white; /* Color del texto */
    padding: 5px 15px;
}

/*Puntero por Mano al pasar sobre un elemento*/
.nav-enlace:hover {
    cursor: pointer;
    background-color: var(--selectedItemInicio);
    padding: 10px 15px;
    border-radius: 15px;
    color: var(--selectedItemAnchor);
    transition: 0.2s ease-out;
}

.header {
    display: flex;
    align-items: center; /* Alinea verticalmente */
    margin-top: 20px;
    margin-left: 50px;
}

.logo_principal {
    margin-right: 500px; /* Espacio entre el logo y los elementos de navegación */
}

/** Estilo para boton inicio **/
/* .semicirculo {
    background-color: #c2bdb4;
    padding: 5px 10px; 
    border-radius: 50px; 
    transform: translateY(-50%);
} */



/* Estilo para la p, texto, del inicio */
.texto_inicio{
    color: white;
    position: relative;
    padding: 55px 0px 50px 70px;
    width: 45%;
    font-size: 30px;
}

/* Estilo para los botones de acceso a socio y buscar empleo */
.botones_inicio a{
    margin: 80px;
    color: rgb(0, 0, 0);
    font-size: 20px;
    padding: 10px;
    border-radius: 100px;
    background-color: #c2bdb4;
    text-decoration: none; /* Quita el subrayado del texto */
    margin-right: 5px;
}

.icono_chat i{
    font-size: 40px; /* Cambiar el tamaño del icono a 24px */
    margin-top: 90px;
    margin-left: 70px;
    color:white;
}

.redes_inicio {
    display: flex; /* Usar flexbox */
    flex-direction: column; /* Cambiar la dirección del eje principal a vertical */
    justify-content: center; /* Centrar horizontalmente los elementos */
    align-items: center; /* Centrar verticalmente los elementos */
    position: fixed; /* Establecer posición fija */
    bottom: 100px; /* Espacio desde la parte inferior */
    right: 100px; /* Espacio desde la parte derecha */

}

.redes_inicio i {
    width: 100px;
    height: 100px;
    margin-right: 10px; /* Ajustar el espacio entre el icono y el número */
    margin-bottom: -50px; /* Espacio vertical entre los iconos */
    font-size: 35px; /* Tamaño de los iconos */
    color: white; /* Cambiar el color de los iconos a azul */
}

.principal{
        position: relative;
        left: 55px;
        width: 92vw;
        height: 75vh;
        border: 2px solid white;    
}